body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, skyblue, #feb47b);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #333;
  border-radius: 10px;
  
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

.screen {
  background: #444;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: right;
  color: #fff;
  font-size: 2em;
}

.screen-current {
  font-size: 2.5em;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background: #555;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5em;
  padding: 20px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn:hover {
  background: #777;
}

.btn:active {
  background: #999;
}

.btn-pink {
  background: goldenrod;
  border-radius: 5px; /* Square buttons */
}

.btn-pink:hover {
  background: goldenrod;
}

.btn-pink:active {
  background: goldenrod;
}

.btn-blue {
  background: #3498db;
  border-radius: 5px; /* Square buttons */
}

.btn-blue:hover {
  background: #2980b9;
}

.btn-blue:active {
  background: #1e6f98;
}

.span-2 {
  grid-column: span 2;
  border-radius: 5px; /* Ensuring square buttons stay square */
}
#extra-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;}

#extra-buttons button {
  background: #555;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5em;
  padding: 20px;
  cursor: pointer;
  transition: background 0.2s ease;
}

#extra-buttons button:hover {
  background-color: #2980b9;
}

